# Python Strings

## Python Strings

### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

**'hello'** is the same as **"hello"**.

You can display a string literal with the **print()** function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

### Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [2]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

### Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [3]:
a = "Hello"
print(a)

Hello

### Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [4]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [5]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

> **Note:** In the result, the line breaks are inserted at the same position as in the code.

### Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [6]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

### Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a **for** loop.

In [7]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

### String Length

To get the length of a string, use the **len()** function.

In [8]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

### Check String

To check if a certain phrase or character is present in a string, we can use the keyword **in**.

In [9]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an **if** statement:

In [10]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT

To check if a certain phrase or character is **NOT** present in a string, we can use the keyword **not in**.

In [11]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an **if** statement:

In [12]:
# Print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

## Python - Slicing Strings

### Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [13]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

> **Note:** The first character has index 0.

### Slice From the Start

By leaving out the start index, the range will start at the first character:

In [14]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End

By leaving out the end index, the range will go to the end:

In [15]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [16]:
# Get the characters:
# From: "o" in "World!" (position -5)
# To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

## Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

### Upper Case

In [17]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [18]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [19]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [20]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String

The **split()** method returns a list where the text between the specified separator becomes the list items.

In [22]:
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

### Python - String Concatenation

### String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [23]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [24]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Python - Format - Strings

### String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [25]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the *f-strings* or **format()** method!

### F-Strings

The **f** stands for **format**, and it is used to format a string.

F-String was introduced in Python 3.6, and is the most preferred way to format strings.

To specify a string as an f-string, a lowercase **'f'** is placed in front of the string literal, and curly braces **{}** as placeholders for variables and expressions.

In [26]:
# Create an f-string:

age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

### Placeholder and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [27]:
# Add a placeholder for the price variable:

price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a *modifier* to format the value.

A modifier is included by adding a colon **:** followed by a legal formatting type, like **.2f** which means fixed point number with 2 decimals:

In [28]:
# Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [29]:
# Perform a calculation inside the placeholder:

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

## Python - Escape Characters

### Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [30]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (3032413535.py, line 3)

To fix this problem, use the escape character \\":

In [31]:
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Other escape characters used in Python:

In [33]:
a = 'It\'s alright.'
b = "This will insert one \\ (backslash)."
c = "Hello\nWorld!" #This will insert a new line
d = "Hello\rWorld!" #Carriage return: This example erases "Hello" and writes "World!" in its place
e = "Hello\tWorld!" #This example erases one character (tab)
f = "Hello \bWorld!" #This example erases one character (backspace)
g = "Hello \fWorld!"
h = "\110\145\154\154\157" #A backslash followed by three integers will result in a octal value
i = "\x48\x65\x6c\x6c\x6f" #A backslash followed by an 'x' and a hex number represents a hex value

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!
Hello World!
Hello
Hello

## Python - String Methods

Python has a set of built-in methods that you can use on strings.

> **Note:** All string methods returns new values. They do not change the original string.

#### Capitalize()

The **capitalize()** method returns a string where the first character is upper case, and the rest is lower case.

In [34]:
# Upper case the first letter in this sentence:

txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [35]:
# The first character is converted to upper case, and the rest are converted to lower case:

txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [36]:
# Nothing happens if the first character is a number:

txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

#### Casefold()

The **casefold()** method returns a string where all the characters are lower case.

This method is similar to the **lower()** method, but the **casefold()** method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the **casefold()** method.

In [37]:
# Make the string lower case:

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

#### Center()

The **center()** method will center align the string, using a specified character (space is default) as the fill character.

Parameters:

- **length** - The length of the returned string
- **character** (optional) - The character to fill the missing space on each side. Default is " " (space).

In [38]:
# Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

#### Count()

The **count()** method returns the number of times a specified value appears in the string.

Parameters:

- **value** - Required. A String. The string to value to search for
- **start** - Optional. An Integer. The position to start the search. Default is 0
- **end** - Optional. An Integer. The position to end the search. Default is the end of the string

In [39]:
# Return the number of times the value "apple" appears in the string:

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [40]:
# Search from position 10 to 24:

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

#### Encode()

The **encode()** method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.

Parameters:

- **encoding** - Optional. A String. The encoding type. Default is UTF-8
- **errors** - Optional. A String specifying the error method. Legal values are:
  - **'backslashreplace'** - uses a backslash instead of the character that could not be encoded
  - **'ignore'** - ignores the characters that cannot be encoded
  - **'namereplace'** - replaces the character with a text explaining the character
  - **'strict'** - Default, raises an error on failure
  - **'replace'** - replaces the character with a questionmark
  - **'xmlcharrefreplace'** - replaces the character with an xml character

In [41]:
# UTF-8 encode the string:

txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [42]:
# These examples uses ascii encoding, and a character that cannot be encoded, showing the result with different errors:

txt = "My name is Ståle"


print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

#### Endswith()

The **endswith()** method returns **True** if the string ends with the specified value, otherwise **False**.

Parameters:

- **value** - Required. The value to check if the string ends with
- **start** - Optional. An Integer specifying at which position to start the search
- **end** - Optional. An Integer specifying at which position to end the search

In [43]:
# Check if the string ends with a punctuation sign (.)

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [44]:
# Check if the string ends with the phrase "my world."

txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [45]:
# Check if position 5 to 11 ends with the phrase "my world."

txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

#### Expandtabs()

The **expandtabs()** method sets the tab size to the specified number of whitespaces.

Parameters:

- **tabsize** - Optional. A number specifying the tabsize. Default tabsize is 8

In [46]:
# Set the tab size to 2 whitespaces:

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [47]:
# Results using different tab sizes:

txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

#### Find()

The **find()** method finds the first occurrence of the specified value.

The **find()** method returns -1 if the value is not found.

The **find()** method is almost the same as the **index()** method, the only difference is that the **index()** method raises an exception if the value is not found.

Parameters:

- **value** - Required. The value to search for
- **start** - Optional. Where to start the search. Default is 0
- **end** - Optional. Where to end the search. Default is to the end of the string

In [48]:
# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [49]:
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [50]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [51]:
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

#### Format()

The **format()** method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: **{}**

The **format()** method returns the formatted string.

Parameters:

- **value1, value2...** - Required. The value to formatted and inserted in the string.
The values are either a list of values separated by commas, a key=value list, or a combination of both.
The values can be of any data type.

In [53]:
# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

##### The Placeholders

The placeholders can be identified using named indexes **{price}**, numbered indexes **{0}**, or even empty placeholders **{}**.

In [54]:
# Using different placeholders:

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

##### Formatting Types

Inside the placeholders you can add a formatting type to format the result:

In [65]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:
txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [66]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:
txt2 = "We have {:>8} chickens."
print("txt2: ",txt2.format(49))

txt2:  We have       49 chickens.

In [67]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:
txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [99]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "0" to convert the number into a zero-padded format:
txt = "The price is {:08} dollars."
print(txt.format(49))

The price is 00000049 dollars.

In [69]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "=" to place the plus/minus sign at the left most position:
txt = "The temperature is {:=8} degrees celsius."
print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [70]:
#Use "+" to always indicate if the number is positive or negative:
txt = "The temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [72]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt = "The temperature is between {:-} and {:-} degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [73]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [74]:
#Use "," to add a comma as a thousand separator:
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [75]:
#Use "_" to add a underscore character as a thousand separator:
txt = "The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [76]:
#Use "b" to convert the number into binary format:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [77]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [78]:
#Use "c" to convert the number into Unicode character:
txt = "The ASCII value of {0} is {0:c}"
print(txt.format(65))

The ASCII value of 65 is A

In [79]:
#Use "e" to convert a number into scientific number format (with a lower case e):
txt = "The scientific notation of {0} is {0:e}"
print(txt.format(150))

The scientific notation of 150 is 1.500000e+02

In [80]:
#Use "E" to convert a number into scientific number format (with an upper case E):
txt = "The scientific notation of {0} is {0:E}"
print(txt.format(1550))

The scientific notation of 1550 is 1.550000E+03

In [81]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, 
# but use a period followed by a number to specify the number of decimals::

txt = "The float value of {0} is {0:f}"
print(txt.format(123))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The float value of 123 is 123.000000
The price is 45.000000 dollars.

In [82]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The float value of {0} is {0:F}"
print(txt.format(123))

#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The float value of 123 is 123.000000
The price is inf dollars.

In [88]:
# Use "g" to convert a number into general format (using a lower case e for scientific notations):
txt = "The float value of {0} is {0:g}"
print(txt.format(123.456789))
print(txt.format(12345678900000000000))

The float value of 123.456789 is 123.457
The float value of 12345678900000000000 is 1.23457e+19

In [87]:
# Use "G" to convert a number into general format (using a upper case E for scientific notations):
txt = "The float value of {0} is {0:G}"
print(txt.format(123.456789))
print(txt.format(12345678900000000000))

The float value of 123.456789 is 123.457
The float value of 12345678900000000000 is 1.23457E+19

In [89]:
#Use "o" to convert the number into octal format:
txt = "The octal version of {0} is {0:o}"
print(txt.format(10))

The octal version of 10 is 12

In [93]:
#Use "x" to convert the number into Hex format:
txt = "The Hexadecimal version of {0} is {0:x}"
print(txt.format(255))

The Hexadecimal version of 255 is ff

In [94]:
#Use "X" to convert the number into upper-case Hex format:
txt = "The Hexadecimal version of {0} is {0:X}"
print(txt.format(255))

The Hexadecimal version of 255 is FF

In [95]:
#Use "n" to convert the number into a fixed point number format:
txt = "The float value of {0} is {0:n}"
print(txt.format(1234567890))
print(txt.format(1234567890.1234567890))

The float value of 1234567890 is 1234567890
The float value of 1234567890.1234567 is 1.23457e+09

In [96]:
#Use "%" to convert the number into a percentage format:
txt = "You scored {:%}"
print(txt.format(0.25))

You scored 25.000000%

#### Index()

The **index()** method finds the first occurrence of the specified value.

The **index()** method raises an exception if the value is not found.

The **index()** method is almost the same as the **find()** method, the only difference is that the **find()** method returns -1 if the value is not found.

Parameters:

- **value** - Required. The value to search for
- **start** - Optional. Where to start the search. Default is 0
- **end** - Optional. Where to end the search. Default is to the end of the string

In [100]:
# Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [101]:
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."
x = txt.index("e")
print(x)

1

In [102]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [103]:
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

#### isalnum()

The **isalnum()** method returns **True** if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

In [104]:
# Check if all the characters in the text are alphanumeric:

txt = "Company12"
x = txt.isalnum()
print(x)

True

In [107]:
# Check if all the characters in the text are alphanumeric:

txt = "Company12?"
x = txt.isalnum()
print(x)

False

#### isalpha()

The **isalpha()** method returns **True** if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

In [105]:
# Check if all the characters in the text are letters:

txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [106]:
# Check if all the characters in the text are letters:

txt = "Company12"
x = txt.isalpha()
print(x)

False

#### isascii()

The **isascii()** method returns **True** if all the characters are ASCII characters.

ASCII characters are characters whose code points range from 0x00 to 0x7F.

In [108]:
# Check if all the characters in the text are ASCII characters:

txt = "Company123"
x = txt.isascii()
print(x)

True

In [109]:
# Check if all the characters in the text are ASCII characters:

txt = "Company123©"
x = txt.isascii()
print(x)

False

#### isdecimal()

The **isdecimal()** method returns **True** if all the characters are decimals (0-9).

This method is used on unicode objects.

In [137]:
# Check if all the characters in the text are decimals:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
c = "10km2"
d = "-1"
e = "1.5"
f = "1e3"
g = "⅔"
h = "XIV"

print(f"{a : <10}",a.isdecimal())
print(f"{b : <10}",b.isdecimal())
print(f"{c : <10}",c.isdecimal())
print(f"{d : <10}",d.isdecimal())
print(f"{e : <10}",e.isdecimal())
print(f"{f : <10}",f.isdecimal())
print(f"{g : <10}",g.isdecimal())
print(f"{h : <10}",h.isdecimal())

0          True
²          False
10km2      False
-1         False
1.5        False
1e3        False
⅔          False
XIV        False

#### isdigit()

The **isdigit()** method returns **True** if all the characters are digits, otherwise **False**.

Exponents, like **²** are also considered to be a digit.

In [138]:
# Check if all the characters in the text are digits:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
c = "10km2"
d = "-1"
e = "1.5"
f = "1e3"
g = "⅔"
h = "XIV"

print(f"{a : <10}",a.isdigit())
print(f"{b : <10}",b.isdigit())
print(f"{c : <10}",c.isdigit())
print(f"{d : <10}",d.isdigit())
print(f"{e : <10}",e.isdigit())
print(f"{f : <10}",f.isdigit())
print(f"{g : <10}",g.isdigit())
print(f"{h : <10}",h.isdigit())

0          True
²          True
10km2      False
-1         False
1.5        False
1e3        False
⅔          False
XIV        False

#### isidentifier()

The **isidentifier()** method returns **True** if the string is a valid identifier, otherwise **False**.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [124]:
# Check if the string is a valid identifier:

txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [125]:
# Check if the string is a valid identifier:

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

#### islower()

The **islower()** method returns **True** if all the characters are in lower case, otherwise **False**.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [126]:
# Check if all the characters in the text are in lower case:

txt = "hello world!"
x = txt.islower()
print(x)

True

In [127]:
# Check if all the characters in the text are in lower case:

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

#### isnumeric()

The **isnumeric()** method returns **True** if all the characters are numeric (0-9), otherwise **False**.

Exponents, like **²** and **¾** are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

Roman numbers are considered numeric values.

In [139]:
# Check if all the characters in the text are numeric:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
c = "10km2"
d = "-1"
e = "1.5"
f = "1e3"
g = "⅔"
h = "XIV"

print(f"{a : <10}",a.isnumeric())
print(f"{b : <10}",b.isnumeric())
print(f"{c : <10}",c.isnumeric())
print(f"{d : <10}",d.isnumeric())
print(f"{e : <10}",e.isnumeric())
print(f"{f : <10}",f.isnumeric())
print(f"{g : <10}",g.isnumeric())
print(f"{h : <10}",h.isnumeric())

0          True
²          True
10km2      False
-1         False
1.5        False
1e3        False
⅔          True
XIV        False

#### isprintable()

The **isprintable()** method returns **True** if all the characters are printable, otherwise **False**.

Example of none printable characters can be carriage return and line feed.

In [143]:
# Check if all the characters in the text are printable:

txt = "Hello! Are you #1?"
x = txt.isprintable()
print(x)

txt = "Hello!\nAre you #1?"
x = txt.isprintable()
print(x)

True
False

#### isspace()

The **isspace()** method returns **True** if all the characters in a string are whitespaces, otherwise **False**.

In [145]:
# Check if all the characters in the text are whitespaces:

txt = "   "
x = txt.isspace()
print(x)

txt = "   s   "
x = txt.isspace()
print(x)

True
False

#### istitle()

The **istitle()** method returns **True** if all words in a text start with a upper case letter, and the rest of the word are lower case letters, otherwise **False**.

Symbols and numbers are ignored.

In [147]:
# Check if each word start with an upper case letter:

a = "Hello, And Welcome To My World!"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(f"{a : <35}",a.istitle())
print(f"{b : <35}",b.istitle())
print(f"{c : <35}",c.istitle())
print(f"{d : <35}",d.istitle())

Hello, And Welcome To My World!     True
Hello                               True
22 Names                            True
This Is %'!?                        True

#### isupper()

The **isupper()** method returns **True** if all the characters are in upper case, otherwise **False**.

Numbers, symbols and spaces are not checked, only alphabet characters.

In [3]:
# Check if all the characters in the text are in upper case:

a = "THIS IS!"
b = "THIS is not!"
c = "THIS IS 123!"

print(f"{a : <15}",a.isupper())
print(f"{b : <15}",b.isupper())
print(f"{c : <15}",c.isupper())

THIS IS!        True
THIS is not!    False
THIS IS 123!    True

#### join()

The **join()** method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

Parameters:

- **iterable** - Required. Any iterable object where all the returned values are strings

In [12]:
# Join all items in a tuple into a string, using ", " as separator:
myTuple = ("John", "Peter", "Vicky")
print(f"{'myTuple':<15} = {', '.join(myTuple)}")

# Join all items in a list into a string, using ", " as separator:
myList = ["John", "Peter", "Vicky"]
print(f"{'myList':<15} = {', '.join(myList)}")

# Join all items in a set into a string, using ", " as separator:
mySet = {"John", "Peter", "Vicky"}
print(f"{'mySet':<15} = {', '.join(mySet)}")

# Join all items in a dictionary into a string, using ", " as separator:
myDict = {"name": "John", "country": "Norway"}
print(f"{'myDict keys':<15} = {', '.join(myDict)}")
print(f"{'myDict values':<15} = {', '.join(myDict.values())}")

myTuple         = John, Peter, Vicky
myList          = John, Peter, Vicky
mySet           = Vicky, John, Peter
myDict keys     = name, country
myDict values   = John, Norway

#### ljust()

The **ljust()** method will left align the string, using a specified character (space is default) as the fill character.

Parameters:

- **length** - Required. The length of the returned string
- **character** (optional) - Optional. A character to fill the missing space on the right. Default is " " (space)

In [95]:
# Return a 20 characters long, left justified version of the word "banana":

txt = "banana"
print(txt.ljust(20, "-"))

# If the length of the word is more than the specified length, you will get the complete word: 
txt = "banana"
print(txt.ljust(3, "-"))

# It's equivalent to f-string formatting except you can use it with any character
print(f"{'banana':<020}")
print(f"{'banana':<-20}")

banana--------------
banana
banana00000000000000

ValueError: Sign not allowed in string format specifier

#### lower()

The **lower()** method returns a string where all characters are lower case.

Symbols and Numbers are ignored.

In [34]:
# Convert the value of txt to lower case:

txt = "Hello, My name's Arsalan. 123cHeck!"
print(txt.lower())

hello, my name's arsalan. 123check!

#### lstrip()

The **lstrip()** method removes any leading characters (space is the default leading character to remove).

Parameters:

- **character** (optional) - A set of characters to remove as leading characters

In [39]:
# Remove spaces to the left of the string:

txt = "   .,ssp  banana     "
print(txt.lstrip())

# Remove the leading characters:
print(txt.lstrip(" .,sp"))

# Have to include " " in the above example else:
print(txt.lstrip(".,sp"))

.,ssp  banana
banana
   .,ssp  banana

#### maketrans()

The **maketrans()** method returns a mapping table that can be used with the **translate()** method to replace specified characters.

Parameters:

- **x** - Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.
- **y** - Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.
- **z** - Optional. A string describing which characters to remove from the original string.

In [50]:
# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

txt = "Hello World!"

# Working with 1 parameter:
# Dictionary only takes parameter of length 1 and it will replace the key with the value
mytable = txt.maketrans({"W": "P"})
print(txt.translate(mytable))

# Working with 2 parameter:
mytable = txt.maketrans("W", "P")
print(txt.translate(mytable))

# Working with 3 parameters:
mytable = txt.maketrans("W", "P", "H")
print(txt.translate(mytable))

Hello Porld!
Hello Porld!
ello Porld!

In [62]:
# This replaces characters, not words.

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

# Mytable is a dictionary that will replace the key with the value
print(mytable)

G i Joe!
{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

> **Note:** Translate only works with one-to-one character mapping for multi-character mapping, use **replace()** method.

#### partition()

The **partition()** method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

Parameters:

- **value** - Required. The string to search for

In [104]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

print(txt.partition("bananas"))

('I could eat ', 'bananas', ' all day, bananas are my favorite fruit')

If the specified value is not found, the partition() method returns a tuple containing: 
- the whole string
- an empty string
- an empty string

In [105]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

print(txt.partition("apples"))

('I could eat bananas all day, bananas are my favorite fruit', '', '')

#### replace()

The **replace()** method replaces a specified phrase with another specified phrase.

Replace method is case sensitive.

> **Note:** All occurrences of the specified phrase will be replaced, if nothing else is specified.

Parameters:

- **oldvalue** - Required. The string to search for
- **newvalue** - Required. The string to replace the old value with
- **count** - Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences.

In [68]:
# Replace the word "bananas":

txt = "I like bananas"
print(txt.replace("bananas", "apples"))

# Replace all occurrences of the word "one":
print(txt.replace("one", "two"))

# Replace letter
print(txt.replace("a", "b"))

# Replace only 1 occurrence:
print(txt.replace("a", "b", 1))

I like apples
I like bananas
I like bbnbnbs
I like bbnanas

> **Note:** The **replace()** method replaces one string of arbitary length with another of arbitary length.

> The **translate()** method replaces all individual characters at once. The mapping makes it much more efficient.

#### rfind()

The **rfind()** method finds the last occurrence of the specified value.

The **rfind()** method returns -1 if the value is not found.

The **rfind()** method is almost the same as the **rindex()** method except it does not raise an exception if the value is not found.

Parameters:

- **value** - Required. The value to search for
- **start** - Optional. Where to start the search. Default is 0
- **end** - Optional. Where to end the search. Default is to the end of the string

In [74]:
txt = "Mi casa, su casa."

print(txt.rfind("casa"))
print(txt.rfind("casa", 0, 7))
print(txt.rfind("a"))

print(txt.rfind("apple"))

12
3
15
-1

#### rindex()

The **rindex()** method finds the last occurrence of the specified value.

The **rindex()** method raises an exception if the value is not found.

The **rindex()** method is almost the same as the **rfind()** method except it raises an exception if the value is not found.

Parameters:

- **value** - Required. The value to search for
- **start** - Optional. Where to start the search. Default is 0
- **end** - Optional. Where to end the search. Default is to the end of the string

In [75]:
txt = "Mi casa, su casa."

print(txt.rindex("casa"))
print(txt.rindex("casa", 0, 7))
print(txt.rindex("a"))

print(txt.rindex("apple"))

12
3
15

ValueError: substring not found

#### rjust()

The **rjust()** method will right align the string, using a specified character (space is default) as the fill character.

Parameters:

- **length** - Required. The length of the returned string
- **character** (optional) - Optional. A character to fill the missing space on the left. Default is " " (space)

In [94]:
# Return a 20 characters long, right justified version of the word "banana":

txt = "banana"
print(txt.rjust(20, "-"))

# If the length of the word is more than the specified length, you will get the complete word: 
txt = "banana"
print(txt.rjust(3, "-"))

# It's equivalent to f-string formatting except you can use it with any character
print(f"{'banana':>020}")
print(f"{'banana':>-20}")

--------------banana
banana
00000000000000banana

ValueError: Sign not allowed in string format specifier

#### rpartition()

The **rpartition()** method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

Parameters:

- **value** - Required. The string to search for

In [100]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

print(txt.rpartition("bananas"))

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
('', '', 'I could eat bananas all day, bananas are my favorite fruit')

If the specified value is not found, the rpartition() method returns a tuple containing: 
- an empty string
- an empty string
- the whole string

In [106]:
print(txt.rpartition("apples"))

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

#### rsplit()

The **rsplit()** method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the **split()** method.

> **Note:** When maxsplit is specified, the list will contain the specified number of elements plus one.

Parameters:

- **separator** - Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
- **maxsplit** - Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [111]:
txt1 = "apple banana cherry"
txt2 = "apple, banana, cherry"

print(txt1.rsplit())
print(txt2.rsplit(", "))

# Split the string into a list with max 2 items:
print(txt2.rsplit(", ", 1))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple, banana', 'cherry']

#### rstrip()

The **rstrip()** method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

Parameters:

- **character** (optional) - A set of characters to remove as trailing characters.

In [112]:
# Remove spaces to the right of the string:

txt = "     banana  .,ssp   "
print(txt.rstrip())

# Remove the trailing characters:
print(txt.lrtrip(" .,sp"))

# Have to include " " in the above example else:
print(txt.lrtrip(".,sp"))

     banana  .,ssp

AttributeError: 'str' object has no attribute 'lrtrip'

#### split()

The **split()** method splits a string into a list.

You can specify the separator, default separator is any whitespace.

> **Note:** When maxsplit is specified, the list will contain the specified number of elements plus one.

Parameters:

- **separator** - Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
- **maxsplit** - Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [113]:
txt1 = "apple banana cherry"
txt2 = "apple, banana, cherry"

print(txt1.split())
print(txt2.split(", "))

# Split the string into a list with max 2 items:
print(txt2.split(", ", 1))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana, cherry']

#### splitlines()

The **splitlines()** method splits a string into a list. The splitting is done at line breaks.

Parameters:

- **keeplinebreaks** (optional) - Optional. Specifies if the line breaks should be included (True), or not (False). Default value is **False**

In [115]:
txt = "Thank you for the music\nWelcome to the jungle"

print(txt.splitlines(True))
print(txt.splitlines())

['Thank you for the music\n', 'Welcome to the jungle']
['Thank you for the music', 'Welcome to the jungle']

#### startswith()

The **startswith()** method returns **True** if the string starts with the specified value, otherwise **False**.

Parameters:

- **value** - Required. The value to check if the string starts with
- **start** - Optional. An Integer specifying at which position to start the search
- **end** - Optional. An Integer specifying at which position to end the search

In [118]:
txt = "Hello, welcome to my world."

print(txt.startswith("Hello"))
print(txt.startswith("wel", 7, 20))

print(txt.startswith("welcome"))

True
True
False

#### strip()

The **strip()** method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove).

Parameters:

- **character** (optional) - A set of characters to remove as leading/trailing characters.

In [119]:
 # Remove spaces at the beginning and at the end of the string:

txt = ",,,,,rrttgg.....banana....rrr"
print(txt.strip(",.grt"))

banana

#### swapcase()

The **swapcase()** method returns a string where all the upper case letters are lower case and vice versa.

In [121]:
# Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is aRSALAN"
print(txt.swapcase())

hELLO mY nAME iS Arsalan

#### title()

The **title()** method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [122]:
# Make the first letter in each word upper case:

txt = "Welcome to my world"
print(txt.title())

Welcome To My World

#### translate()

The **translate()** method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the **maketrans()** method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use **ascii** codes instead of characters.

Parameters:

- **table** - Required. Either a dictionary, or a mapping table describing how to perform the replace

In [123]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

> **Note:** Check **maketrans()** method for more details.

#### upper()

The **upper()** method returns a string where all characters are in upper case.

Symbols and Numbers are ignored.

In [124]:
txt = "Hello World!"
print(txt.upper())

HELLO WORLD!

#### zfill()

The **zfill() method** adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

Parameters:

- **len** - Required. A number specifying the position of the element you want to remove

In [125]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000