### Python Lists Methods

#### List Methods

Python has a set of built-in methods that you can use on lists.

##### append()

The **append()** method appends an element to the end of the list.

Parameters:

- **value** - The value to append

In [4]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
print(a)

a.append(b)
print(a)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

##### clear()

The **clear()** method removes all the elements from a list.

In [3]:
a = ["apple", "banana", "cherry"]
print(a)

a.clear()
print(a)

['apple', 'banana', 'cherry']
[]

##### copy()

The **copy()** method returns a copy of the specified list.

In [5]:
a = ["apple", "banana", "cherry"]
print(a)

b = a.copy()
print(b)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

##### count()

The **count()** method returns the number of elements with the specified value.

Parameters:

- **value** - Required. Any type (string, number, list, tuple, etc.). The value to search for.

In [6]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

print(points.count(9))

2

##### extend()

The **extend()** method adds the specified list elements (or any iterable) to the end of the current list.

Parameters:

- **iterable** - Required. Any iterable (list, set, tuple, etc.)

In [17]:
a = [1, 2, 3]
l = [4, 5, 6]
t = (7, 8, 9)
s = {10, 11, 12}
d = {"Thirteen": 13, "Fourteen": 14}


print(a)

a.extend(l)
print(a)

a.extend(t)
print(a)

a.extend(s)
print(a)

a.extend(d.values())
print(a)

a.extend(d.keys())
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'Thirteen', 'Fourteen']

##### index()

The **index()** method returns the position at the first occurrence of the specified value.

If the value is not found, the **index()** method raises an exception.

Parameters:

- **value** - Required. Any type (string, number, list, tuple, etc.). The value to search for.

In [18]:
a = ["apple", "banana", "cherry"]
print(a.index("banana"))

1

> **Note:** The **index()** method only returns the first occurrence of the value.

##### insert()

The **insert()** method inserts the specified value at the specified position.

Parameters:

- **index** - Required. The position where you want to insert the value
- **value** - Required. The value to insert

In [19]:
a = ["apple", "banana", "cherry"]
print(a)

a.insert(1, "orange")
print(a)

['apple', 'banana', 'cherry']
['apple', 'orange', 'banana', 'cherry']

##### pop()

The **pop()** method removes the element at the specified position.

Parameters:

- **index** - Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [20]:
a = ["apple", "banana", "cherry"]
print(a)

a.pop(1)
print(a)

a.pop()
print(a)

['apple', 'banana', 'cherry']
['apple', 'cherry']
['apple']

##### remove()

The **remove()** method removes the first occurrence of the element with the specified value.

Parameters:

- **value** - Required. Any type (string, number, list, tuple, etc.). The value to remove

In [21]:
a = ["apple", "banana", "cherry", "banana"]
print(a)

a.remove("banana")
print(a)

a.remove("tomato")
print(a)

['apple', 'banana', 'cherry', 'banana']
['apple', 'cherry', 'banana']

ValueError: list.remove(x): x not in list

##### reverse()

The **reverse()** method reverses the sorting order of the elements.

In [22]:
a = ["apple", "banana", "cherry"]
print(a)

a.reverse()
print(a)

['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']

##### sort()

The **sort()** method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

Parameters:

- **reverse** - Optional. A Boolean. False will sort ascending, and True will sort descending.
- **key** - Optional. A function to specify the sorting criteria(s)

In [30]:
a = [100, 50, 65, 82, 23]
print(a)

a.sort()
print(a)

a.sort(reverse=True)
print(a)

[100, 50, 65, 82, 23]
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

Difference between **sort()** and **sorted()**

In [28]:
a = [100, 50, 65, 82, 23]
print(a)

print(a.sort())

print(sorted(a))

[100, 50, 65, 82, 23]
None
[23, 50, 65, 82, 100]

Sort the list based on the length of the values:

In [36]:
# Using function

def myFunc(e):
    return len(e)

a = ["apple", "banana", "cherry", "kiwi", "mango"]

a.sort(key=myFunc)
print(a)


# Using lambda

a = ["apple", "banana", "cherry", "kiwi", "mango"]
a.sort(reverse=True, key=lambda x: len(x))
print(a)

['kiwi', 'apple', 'mango', 'banana', 'cherry']
['banana', 'cherry', 'apple', 'mango', 'kiwi']

Sort a list of dictionaries based on the "year" value of the dictionaries:

In [39]:
def myFunc(e):
    return e['year']

cars = [
    {'car': 'Ford', 'year': 2005},
    {'car': 'Mitsubishi', 'year': 2000},
    {'car': 'BMW', 'year': 2019},
    {'car': 'VW', 'year': 2011}
    ]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]