## Python MySQL Create Table

### Creating a Table

To create a table in MySQL, use the **CREATE TABLE** statement.

Make sure you define the name of the database when you create the connection

In [1]:
# Create a table named "customers":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

If the above code was executed with no errors, you have successfully created a table.

### Check if Table Exists

You can check if a table exist by listing all tables in your database with the **SHOW TABLES** statement:

In [2]:
# Return a list of your system's databases:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

Or you can try to access the table when making the connection:

In [3]:
# Check if "customers" table exists:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

If the above code was executed with no errors, you have successfully created a table called "customers".

### Primary Key

When creating a table, you should also create a column with a unique key for each record.

This can be done by defining a PRIMARY KEY.

We use the statement **"INT AUTO_INCREMENT PRIMARY KEY"** which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [4]:
# Create primary key when creating the table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

If the table already exists use the **ALTER TABLE** keyword:

In [5]:
# Create primary key on an existing table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

if the above code was executed with no errors, you have successfully created a primary key.

[Arsalan](github.com/arsalanrex)