## Python MySQL Drop Table

### Delete a Table

You can delete an existing table by using the **"DROP TABLE"** statement:

In [1]:
# Delete the table "customers"

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

ProgrammingError: 1051 (42S02): Unknown table 'mydatabase.customers'

### Drop Only if Exist

If the the table you want to delete is already deleted, or for any other reason does not exist, you can use the **IF EXISTS** keyword to avoid getting an error.

In [2]:
# Drop the table "customers" if it exists:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

[Arsalan](github.com/arsalanrex)