## Python MySQL Limit

### Limit the Result

You can limit the number of records returned from the query, by using the **"LIMIT"** statement:

In [2]:
# Select the 5 first records in the "customers" table:

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
      database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * from customers LIMIT 5"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)

### Start From Another Position

If you want to return five records, starting from the third record, you can use the **"OFFSET"** keyword:

In [3]:
# Start from position 3, and return 5 records:

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
      database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * from customers LIMIT 5 OFFSET 2"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)

[Arsalan](github.com/arsalanrex)