## Python MySQL Join

### Join Two or More Tables

You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a "users" table and a "products" table:

In [1]:
# Users Table

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), fav INT)")

sql = "INSERT INTO users (name, fav) VALUES (%s, %s)"
val = [
  ('John', 154),
  ('Peter', 154),
  ('Amy', 155),
  ('Hannah', 0),
  ('Michael', 0)
]
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

sql = "SELECT * FROM users"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

5 record was inserted.
(1, 'John', 154)
(2, 'Peter', 154)
(3, 'Amy', 155)
(4, 'Hannah', 0)
(5, 'Michael', 0)

In [2]:
# Products Table

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE products (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255))")

sql = "INSERT INTO products (id, name) VALUES (%s, %s)"

val = [
  (154, 'Chocolate Heaven'),
  (155, 'Tasty Lemons'),
  (156, 'Vanilla Dreams')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record was inserted.")

sql = "SELECT * FROM products"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

3 record was inserted.
(154, 'Chocolate Heaven')
(155, 'Tasty Lemons')
(156, 'Vanilla Dreams')

These two tables can be combined by using users' **fav** field and products' **id** field.

In [3]:
# Join users and products to see the name of the users favorite product:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT users.name AS user, products.name AS favorite FROM users JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')

> **Note:** You can use JOIN instead of INNER JOIN. They will both give you the same result.

### LEFT JOIN

In the example above, Hannah and Michael were excluded from the result, that is because **INNER JOIN** only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the **LEFT JOIN** statement:

In [4]:
# Select all users and their favorite product:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT users.name AS user, products.name AS favorite FROM users LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', None)
('Michael', None)

### RIGHT JOIN

If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the **RIGHT JOIN** statement:

In [5]:
# Select all products, and the user(s) who have them as their favorite:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT users.name AS user, products.name AS favorite FROM users RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Peter', 'Chocolate Heaven')
('John', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
(None, 'Vanilla Dreams')

> **Note:** Hannah and Michael are excluded from the result, because there is no match for them in the "users" table.

> **Note:** You can use LEFT JOIN or RIGHT JOIN depending on which table you want to return all records from.

[Arsalan](github.com/arsalanrex)